body {background-color: rgb(248, 248, 248);}

.dark{

    background-color:rgba(0, 0, 0, 0.637);
    

}

.light{

    background-color:whitesmoke;
  
}

.showcase{
    min-height: 500px;
    background:url("https://user-images.githubusercontent.com/43256526/65907592-7bdade00-e379-11e9-9113-a75fccdcb775.jpg") no-repeat;
    background-size:cover;
    background-position:center;
    color:white;
}